.authors__btn {
    border-radius: 7px;
    font-weight: bold;
    background-color: $yellow-lemon;
    width: 10rem;
    height: 10rem;
    font-size: 1.2rem;
    &:hover, &:focus {
        background-color: $navy;
        color: white;
    }
}