.filter {
    &__root {
        width: 40%;
        display: flex;
        justify-content: center;
        margin: 3%;
    }
    &__inp {
        border-radius: 0.5rem;
        width: 100%;
        background-color: beige;
    }
}