//General styles for the app
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visible {
  display: block;
  visibility: visible;
}
body {
  background-color: $light-lime;
}
#root {
  height: 100%;
}

//Root for authors
.authors {
  &__root {
    @include flexCnt;
    background-color: $light-lime;
    width: 100%;
    height: 100%;
  }
  &__title {
    color: white;
    font-size: 3rem;
  }
  &__breakpoints {
    @include flexCnt;
    width: 50%;
    height: 4rem;
    padding: 2%;
    margin: 3%;
    background-color: $teal;
    color: white;
    font-weight: bold;
    &:hover {
      box-shadow: 0.5rem 0.5rem $navy, -0.5rem -0.5rem $mint;
    }
  }
  &__info {
    &__btns {
      @include flexCnt;
      width: 80%;
      border-bottom: 1px solid;
    }
    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      &--item {
        margin: 2%;
      }
    }
    
  }
}
